@font-face {
font-family: 'Futura-Book';
font-style: normal;
font-weight: normal;
src: local('Futura-Book'), url('Futura-Book.woff') format('woff');
}

body {
    /*background-color: #123867;*/
    background-color: black;
    color:white;
    font-family:'Futura-Book',Futura, 'Trebuchet MS', Arial, sans-serif;
    font-weight:normal;
    font-size:42px;
    text-align: center;
}

#logo{
    /*height: 100px;*/
    width: 250px;
    margin-block-start: 2em;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    /*text-transform:uppercase;*/
}

h1.wwr{
    text-transform:uppercase;
}

h2{
    text-align: left;
    margin: 2em;
}

p{
    margin-block-start: 0;
}

p.elements {
    margin-block-start: 2em;
}
p.contactData{
    margin-block-start: 3em;

}
p.text{
    margin-block-start: 3em;
    text-align: left;
    margin: 2em;
}
span.separator{
    padding-left: 2em;
    padding-right: 2em;
}

a{
    color: white;
}

p.impressum{
    color: gray;
    margin:0.5em;
    font-size:0.3em;
    margin-block-end: 1em;
}

div.details{
    column-count: 3;
    font-size: 24px;
    text-align: left;
}

div.details div{
    padding: 1em;
    break-inside: avoid;
}

div.details h2, div#werde-teil-des-wolfsrudels h2{
    margin:0;
    margin-bottom: 0.5em;
}

img.person{
    width: 300px;
    margin-bottom: 1em;
}

div.welcome
{
    text-align: left;
    padding: 1em;
    font-size: 24px;
    margin:auto;
    width: 28em;
}

div.welcome li {
    font-style: italic;
}

div#werde-teil-des-wolfsrudels{
    font-size: 24px;
    text-align: left;
    padding: 1em;
}

p.button{
    text-align: center;
    margin-block-start: 1.5em;
}
a.button {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
  }

  a.button:hover {
    background-color: #555;
    cursor: pointer;
  }
  
  a.button:active {
    background-color: black;
  }
  
  a.button:visited {
    background-color: #ccc;
  }

  p.event{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 1em;
    background-color: white;
    color: black;
/*    color: #123867;*/
  }

  p.event a{
    color: black;
/*    color: #123867;*/
  }

  div.cooperations{
      font-size:24px;
  }

  div.cooperations li {
      list-style: none;
  }

  
  div.cooperations ul {
    padding: 0;
}

blockquote{
    text-align: right;
    margin-left: 30%;
    border-left: dotted;
}