<nav>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
          <a href="./index.html" class="navbar-brand"><img src="img/logoBlau.png" id="logo" />White Wolf Rituals</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="./events/index.html">Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./rituale/index.html">Rituale</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./kaelte/index.html">K&auml;lte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./berge/index.html">Berge</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./wolf/index.html">Warum der Wolf?</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
</nav>